:root {
  --face-width: 570px;
  --face-height: 470px;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(-45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  /* transition: all .5s; */
}



.facebox {
  width: 700px;
  /* height: 700px; */
  position: relative;
  margin: 0 auto;
  transition: all .5s;

}

.face {
  background-color: rgb(230, 241, 239);
  width: var(--face-width);
  height: var(--face-height);
  margin: 20vh auto;
  border-radius: 50%;
  box-shadow:  30px 30px 28px rgba(0, 0, 0, 0.25),  0px 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  position: relative;
}


.stain {
  width: 350px;
  height: 250px;
  background-color: burlywood;
  position: absolute;
  border-radius: 50%;
  transform: rotate(-30deg);
  box-shadow: 50px 30px 28px rgba(222, 184, 135, 0.25);
}

/* borws */
.brows {
  background-color: black;
  width: 100px;
  height: 2px;
  position: absolute;
}
.brows.left {
  left: 20%;
  top: 20%;
}
.brows.right {
  right: 20%;
  top: 20%;
}

/* glasess-temple */
.glasses-temple {
  background-color: rgba(7, 25, 82, .8);
  width: 120px;
  height: 20px;
  position: absolute;
  border-radius: 5px;
} 
.glasses-temple.left {
  left: 9%;
  top: 25%;
  transform: rotate(30deg);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 38px, rgba(0, 0, 0, 0.22) 0px 10px 12px;
}
.glasses-temple.right {
  right: 9%;
  top: 25%;
  transform: rotate(-30deg);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.glasses-temple.middle {
  left: 35%;
  top: 32%;
  transform: rotate(-180deg);
  box-shadow: rgba(0, 0, 0, 0.3) 0px -20px 38px, rgba(0, 0, 0, 0.22) 0px -15px 12px;

}

/* glasses */
.glasses {
  background-image: url('../images/glasses-dotted.png');
  width: 115px;
  height: 100px;
  position: absolute;
  border: 5px solid rgb(9, 8, 8);
  border-radius: 0 0 50% 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 15px 19px 50px, rgba(0, 0, 0, 0.22) 15px 15px 50px;
  
}
.glasses.left {
  left: 23%;
  top: 30%;
}
.glasses.right {
  right: 23%;
  top: 30%;
}

.nose {
  width: 0;
  height: 0;
  border-bottom: 50px solid transparent;
  border-top: 50px solid black;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 41%;
}

.nose-between-mouse {
  width: 2px;
  height: 30px;
  background-color: black;
  position: absolute;
  top: 57%;
  left: 283px;
}

/* mouse */
.mouse {
  width: 2px;
  height: 35px;
  background-color: black;
  position: absolute;
}
.mouse.left {
  transform: rotate(45deg);
  top: 62%;
  left: 271px;
}
.mouse.right {
  transform: rotate(-45deg);
  top: 62%;
  left: 295px;
}


/* whiskers */
.whiskers {
  width: 200px;
  height: 1px;
  background-color: black;
  position: absolute;
  transition: all 0.5s;
}
.whiskers.left1 {
  bottom: 43%;
  left: 5%;
  transform: rotate(13deg);
}
.whiskers.left2 {
  bottom: 25%;
  left: 5%;
  transform: rotate(339deg);
}
.whiskers.right1 {
  bottom: 38%;
  right: 5%;
  transform: rotate(5deg);
}
.whiskers.right2 {
  bottom: 28%;
  right: 5%;
  transform: rotate(8deg);
}

/* ear */
.ear {
  width: 280px;
  height: 300px;
  background-color: rgb(223, 212, 212);
  clip-path: polygon(54% 0, 80% 11%, 86% 30%, 100% 100%, 4% 80%, 18% 32%, 32% 11%);
  position: absolute;
  transition: all .5s;
}
.ear.left {
  transform: rotate(195deg);
  top: 0%;
  left: 7%;
}
.ear.right {
  transform: rotate(-70deg);
  left: 55%;
}


/* 말풍선 */
.bubble{
  width: 300px;
  height: 100px;
  position: absolute;
  border: 10px solid transparent;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: inset 0 -10px 15px rgb(185, 49, 189), inset 0 10px 15px rgb(185, 49, 189), 0 -10px 15px rgb(185, 49, 189), 0 10px 15px rgb(185, 49, 189);
  font-size: 30px;
  color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.bubble1 {
  top: 20%;
  right: -30%;
}
.bubble2 {
  top: 30%;
  right: -30%;
}
.bubble3 {
  top: 30%;
  left: -35%;
}
.bubble4 {
  width: 550px;
  bottom: 10%;
  right: -25%;
}
.bubble5 {
  width: 370px;
  top: 10%;
  left: -35%;
}

/* star */
.star {
  opacity: 0;
  position: absolute;
  top: 20%;
  right: 20%;
}



/* mouse hover */
.facebox:hover {
  transform: scale(1.1);
}
.facebox:hover .ear.left {
  transform: scale(1.05) rotate(175deg);
}
.facebox:hover .ear.right {
  transform: scale(1.05) rotate(280deg);
}
.facebox:hover .whiskers.left1 {
  bottom: 37%;
  transform: rotate(-5deg);
}
.facebox:hover .whiskers.left2 {
  bottom: 26%;
  transform: rotate(349deg);
}


/* mouse hover animation */
.facebox:hover .star {
  animation: star 1s infinite linear alternate;
}
.facebox:hover .ear.left {
  transform: scale(1.05) rotate(175deg);
  animation: ear-left 2s infinite linear alternate;
}
.facebox:hover .ear.right {
  transform: scale(1.05) rotate(280deg);
  animation: ear-right 2s infinite linear alternate;
}
.facebox:hover .bubble1 {
  animation: bubble 2s linear alternate;
  animation-iteration-count: 1;
}
.facebox:hover .bubble2 {
  animation: bubble 2s linear alternate;
  animation-delay: 2s;
  animation-iteration-count: 1;
}
.facebox:hover .bubble3 {
  animation: bubble 3s linear alternate;
  animation-delay: 4s;
  animation-iteration-count: 1;
}
.facebox:hover .bubble4 {
  animation: bubble 3s linear alternate;
  animation-delay: 7s;
  animation-iteration-count: 1;
}
.facebox:hover .bubble5 {
  animation: bubble 3s linear alternate;
  animation-delay: 10s;
  animation-iteration-count: 1;
}

@keyframes star {
  25% {
    opacity: .5;
    transform: scale(2);
  }
  75% {
    opacity: 1;
    transform: scale(3.5);
  }
  100% {
    opacity: 1;
    transform: scale(4);
  }
}

@keyframes ear-left {
  33% {
    transform: rotate(160deg);
  }

  50% {
    transform: rotate(175deg);
  }
  100% {
    transform: rotate(200deg);
  }
}
/* 295 ~ 262 */
@keyframes ear-right {
  33% {
    transform: rotate(262deg);
  }
  50% {
    transform: rotate(280deg);
  }
  100% {
    transform: rotate(295deg);
  }
}
@keyframes bubble {
  33% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}